adafruit-blinka
adafruit-io
adafruit-circuitpython-74hc595
adafruit-circuitpython-ads1x15
adafruit-circuitpython-adt7410
adafruit-circuitpython-adxl34x
adafruit-circuitpython-am2320
adafruit-circuitpython-amg88xx
adafruit-circuitpython-apds9960
adafruit-circuitpython-as726x
adafruit-circuitpython-bd3491fs
adafruit-circuitpython-bme280
adafruit-circuitpython-bme680
adafruit-circuitpython-bmp280
adafruit-circuitpython-bmp3xx
adafruit-circuitpython-bno055
adafruit-circuitpython-bluefruitspi
adafruit-circuitpython-cap1188
adafruit-circuitpython-ccs811
adafruit-circuitpython-charlcd
adafruit-circuitpython-crickit
adafruit-circuitpython-dht
adafruit-circuitpython-drv2605
adafruit-circuitpython-ds1307
adafruit-circuitpython-ds18x20
adafruit-circuitpython-ds2413
adafruit-circuitpython-ds3231
adafruit-circuitpython-dotstar
adafruit-circuitpython-dymoscale
adafruit-circuitpython-epd
adafruit-circuitpython-esp-atcontrol
adafruit-circuitpython-esp32spi
adafruit-circuitpython-fram
adafruit-circuitpython-fxas21002c
adafruit-circuitpython-fxos8700
adafruit-circuitpython-fingerprint
adafruit-circuitpython-focaltouch
adafruit-circuitpython-gps
adafruit-circuitpython-hcsr04
adafruit-circuitpython-ht16k33
adafruit-circuitpython-htu21d
adafruit-circuitpython-ina219
adafruit-circuitpython-ina260
adafruit-circuitpython-irremote
adafruit-circuitpython-is31fl3731
adafruit-circuitpython-l3gd20
adafruit-circuitpython-lidarlite
adafruit-circuitpython-lis3dh
adafruit-circuitpython-lps35hw
adafruit-circuitpython-lsm303
adafruit-circuitpython-lsm9ds0
adafruit-circuitpython-lsm9ds1
adafruit-circuitpython-max31855
adafruit-circuitpython-max31856
adafruit-circuitpython-max31865
adafruit-circuitpython-max7219
adafruit-circuitpython-max9744
adafruit-circuitpython-mcp230xx
adafruit-circuitpython-mcp3xxx
adafruit-circuitpython-mcp4725
adafruit-circuitpython-mcp9808
adafruit-circuitpython-mlx90393
adafruit-circuitpython-mlx90614
adafruit-circuitpython-mma8451
adafruit-circuitpython-mpl115a2
adafruit-circuitpython-mpl3115a2
adafruit-circuitpython-mpr121
adafruit-circuitpython-mprls
adafruit-circuitpython-matrixkeypad
adafruit-circuitpython-neopixel
adafruit-circuitpython-neotrellis
adafruit-circuitpython-pca9685
adafruit-circuitpython-pcd8544
adafruit-circuitpython-pcf8523
adafruit-circuitpython-pn532
adafruit-circuitpython-pixie
adafruit-circuitpython-ra8875
adafruit-circuitpython-rfm69
adafruit-circuitpython-rfm9x
adafruit-circuitpython-rgb-display
adafruit-circuitpython-sd
adafruit-circuitpython-sgp30
adafruit-circuitpython-sht31d
adafruit-circuitpython-si4713
adafruit-circuitpython-si5351
adafruit-circuitpython-si7021
adafruit-circuitpython-ssd1306
adafruit-circuitpython-stmpe610
adafruit-circuitpython-seesaw
adafruit-circuitpython-sharpmemorydisplay
adafruit-circuitpython-tca9548a
adafruit-circuitpython-tcs34725
adafruit-circuitpython-tfmini
adafruit-circuitpython-tlc5947
adafruit-circuitpython-tlc59711
adafruit-circuitpython-tmp006
adafruit-circuitpython-tmp007
adafruit-circuitpython-tpa2016
adafruit-circuitpython-tsl2561
adafruit-circuitpython-tsl2591
adafruit-circuitpython-thermal-printer
adafruit-circuitpython-thermistor
adafruit-circuitpython-touchscreen
adafruit-circuitpython-trellism4
adafruit-circuitpython-trellis
adafruit-circuitpython-us100
adafruit-circuitpython-vc0706
adafruit-circuitpython-vcnl4010
adafruit-circuitpython-veml6070
adafruit-circuitpython-veml6075
adafruit-circuitpython-veml7700
adafruit-circuitpython-vl53l0x
adafruit-circuitpython-vl6180x
adafruit-circuitpython-vs1053
adafruit-circuitpython-ws2801
adafruit-circuitpython-avrprog
adafruit-circuitpython-bitmap-font
adafruit-circuitpython-bluefruitconnect
adafruit-circuitpython-busdevice
adafruit-circuitpython-display-button
adafruit-circuitpython-display-shapes
adafruit-circuitpython-fancyled
adafruit-circuitpython-featherwing
adafruit-circuitpython-hid
adafruit-circuitpython-hue
adafruit-circuitpython-lifx
adafruit-circuitpython-motorkit
adafruit-circuitpython-motor
adafruit-circuitpython-onewire
adafruit-circuitpython-rtttl
adafruit-circuitpython-register
adafruit-circuitpython-servokit
adafruit-circuitpython-simpleio
adafruit-circuitpython-slideshow
adafruit-circuitpython-tinylora
adafruit-circuitpython-waveform
adafruit-circuitpython-framebuf
adafruit-circuitpython-miniqr
adafruit-circuitpython-miniesptool
