[Unit]
Description=GiantBoard USB Gadget
Before=network.target

[Service]
Type=simple
ExecStart=/usr/bin/usbgadget-serial-eth

[Install]
WantedBy=multi-user.target
