/dts-v1/;
/plugin/;

/ {	
	fragment@0 {
		target = <&spi0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			cs-gpios = <&pioA PIN_PD20 0>;
			status = "okay";
			wilc_spi@0 {
				compatible = "microchip,wilc1000";
				spi-max-frequency = <32000000>;
				reg = <0>;
				reset-gpios = <&pioA PIN_PB0 0>;
				chip_en-gpios = <&pioA PIN_PD13 0>;
				irq-gpios = <&pioA PIN_PB3 0>; 
				status = "okay";
			};
		};
	};
};
