/dts-v1/;
/plugin/;

/ {	
	fragment@0 {
		target = <&spi0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			cs-gpios = <&pioA 39 0>, <&pioA 116 0>, <0>, <0>;
			status = "okay";
			wilc_spi@0 {
				compatible = "microchip,wilc1000";
				spi-max-frequency = <48000000>;
				reg = <1>;
				reset-gpios = <&pioA 32 0>;
				chip_en-gpios = <&pioA 109 0>;
				irq-gpios = <&pioA 35 0>; 
				status = "okay";
			};
		};
	};
};
